*{
    margin: 0;
    padding: 0;
}

.container {
    width: 450px;
    margin: auto;
    font-family: 'calibri';
    background-color: black;
    height: 745px;
    margin-top: 13px;
    /* border: 5px solid rgb(255, 166, 0)  ; */

}

.calculator-grid{
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.calculator-grid button {
    width: 90px;
    height: 80px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 40px;
    font-weight: 400;
    border-radius: 300px;
    /* border: 1px solid rgb(255, 255, 255); */
}



.atas button{
    background-color: rgb(185, 185, 185);
}

.atas :hover {
        background-color: rgb(255, 196, 0);
        cursor: pointer;
    
   
}

.bawah button {
    background-color: rgb(46, 46, 46);
    font-size: 10px;
    font-weight: 900;
}

.bawah :hover {
    background-color: rgb(255, 196, 0);
    cursor: pointer;
}


.bawahnol button {
    background-color: rgb(46, 46, 46);
    color: white;
    padding-right: 100px;
    width: 190px;
}

.bawahnol :hover {
    background-color: rgb(255, 196, 0);
    cursor: pointer;
}

.bawahtitik button {
    background-color: rgb(46, 46, 46);
    margin-left: 10px;
    color: white;
    
}

.bawahtitik :hover{
    background-color: rgb(255, 196, 0);
    cursor: pointer;

}

.samping button {
    background-color: rgb(255, 166, 0);
    color: white;
}

.samping :hover {
    background-color: rgb(46, 46, 46);
    cursor: pointer;

}

.sampingdengan button {
    margin-left: 6px;
    background-color: rgb(255, 166, 0);
    color: white;
}

.sampingdengan :hover {
    background-color: rgb(46, 46, 46);
    cursor: pointer;
}

.tengah button {
    background-color: rgb(46, 46, 46);
    color: white;

}

.tengah :hover {
    background-color: rgb(255, 166, 0);
    cursor: pointer;
}

.title h1 {
    padding-top: 15px;
}

.input input {
    width: 400px;
    margin-left: 22px;
    margin-top: 30px;
    height: 100px;
    font-size: 30px;
    border-radius: 15px;
    text-align: right;
}