*{
    margin: 0;
    padding: 0;
}

.container {
    width: 1366px;
    margin: auto;
    font-family: 'calibri';

}

.header {
    background-color: rgb(61, 61, 61);
    padding-left: 90px;
    height: 55px;
    display: flex;
    justify-content: space-between;

}

.header img {
    padding-left: 780px;
    padding-right: 30px;
}

.header h1 {
    padding-top: 6px;
    color: white;
}

.header h1 span {
    color: blue;
}

.back-color {
    padding-left: 90px;
    padding-top: 40px;
    font-family: 'calibri';
}

.back-color h1 {
    padding-bottom: 30px;
}

.back-color label {
    margin-top: 90px;
    padding-left: 10px;
}

.bg_color-txt_color {
    display: flex;
    font-family: 'calibri';
    font-weight: 900;
}

.text-color {
    padding-left: 450px;
    padding-top: 40px;
}

.text-color h1 {
    padding-bottom: 30px;
}

.footer {
    background-color:  #747474;
    margin-top: 400px;
    height: 110px;
    font-family: 'calibri';
    font-weight: bold;
    color: #00003a;
}

.footer p {
    text-align: center;
    padding-top: 10px;
}

.footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer ul li {
    list-style: none;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer ul li img {
    width: 40px;
}

