*{
    margin: 0;
    padding: 0;
}

.container {
    width: 1366px;
    margin: auto;
    font-family: "calibri";
    font-weight: bold;
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(240,45,253,1) 100%);
    height: 799px;
    /* text-align: center; */

}

.container h1 {
    text-align: center;
}

.form {
    text-align: center;
}

.form form ul li input {
    margin-top: 20px;
    background-color: rebeccapurple;
    padding:5px;
    border-radius: 15px ;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.form form ul li button{
    margin-top: 20px;
    background-color: rebeccapurple;
    padding:5px;
    border-radius: 15px ;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}